/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `basvuru` (
  `basvuruID` int(11) NOT NULL AUTO_INCREMENT,
  `bisarayanID` int(11) DEFAULT NULL,
  `bilanID` int(11) DEFAULT NULL,
  `bdurumID` int(5) DEFAULT NULL,
  `tarih` date DEFAULT NULL,
  PRIMARY KEY (`basvuruID`),
  KEY `bisarayanID` (`bisarayanID`),
  KEY `bilanID` (`bilanID`),
  KEY `bdurumID` (`bdurumID`),
  CONSTRAINT `basvuru_ibfk_1` FOREIGN KEY (`bisarayanID`) REFERENCES `isarayan` (`isarayanID`),
  CONSTRAINT `basvuru_ibfk_2` FOREIGN KEY (`bilanID`) REFERENCES `ilan` (`ilanID`),
  CONSTRAINT `basvuru_ibfk_3` FOREIGN KEY (`bdurumID`) REFERENCES `durum` (`durumID`)
) ENGINE=InnoDB AUTO_INCREMENT=59 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `blog` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `sira` int(11) DEFAULT 0,
  `baslik` varchar(255) NOT NULL,
  `kategori` varchar(100) NOT NULL,
  `tarih` date NOT NULL,
  `resim` varchar(255) DEFAULT NULL,
  `ozet` text DEFAULT NULL,
  `icerik` longtext DEFAULT NULL,
  `meta_title` varchar(255) DEFAULT NULL,
  `meta_description` varchar(255) DEFAULT NULL,
  `meta_keywords` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `calismaturu` (
  `calismaID` int(5) NOT NULL AUTO_INCREMENT,
  `calismatur` varchar(30) DEFAULT NULL,
  PRIMARY KEY (`calismaID`)
) ENGINE=InnoDB AUTO_INCREMENT=22 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `durum` (
  `durumID` int(5) NOT NULL AUTO_INCREMENT,
  `durumisim` varchar(20) DEFAULT NULL,
  PRIMARY KEY (`durumID`)
) ENGINE=InnoDB AUTO_INCREMENT=36 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `il` (
  `ilID` int(5) NOT NULL AUTO_INCREMENT,
  `ilisim` varchar(30) DEFAULT NULL,
  PRIMARY KEY (`ilID`)
) ENGINE=InnoDB AUTO_INCREMENT=82 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ilan` (
  `ilanID` int(11) NOT NULL AUTO_INCREMENT,
  `iisverenID` int(11) DEFAULT NULL,
  `imahalleID` int(5) DEFAULT NULL,
  `idurumID` int(5) DEFAULT NULL,
  `baslik` varchar(100) DEFAULT NULL,
  `aciklama` varchar(255) DEFAULT NULL,
  `maas` int(11) DEFAULT NULL,
  `icalismaturID` int(5) DEFAULT NULL,
  `iyanhakID` int(5) DEFAULT NULL,
  `acikadres` varchar(100) DEFAULT NULL,
  `calismagunleri` varchar(100) DEFAULT NULL,
  `calismasaatleri` varchar(100) DEFAULT NULL,
  `yayintarihi` datetime DEFAULT NULL,
  `isiralamaID` int(5) DEFAULT NULL,
  `isektorID` int(5) DEFAULT NULL,
  `red_nedeni` text DEFAULT NULL,
  PRIMARY KEY (`ilanID`),
  KEY `iisverenID` (`iisverenID`),
  KEY `imahalleID` (`imahalleID`),
  KEY `idurumID` (`idurumID`),
  KEY `icalismaturID` (`icalismaturID`),
  KEY `iyanhakID` (`iyanhakID`),
  KEY `isiralaamID` (`isiralamaID`),
  KEY `isektorID` (`isektorID`),
  CONSTRAINT `ilan_ibfk_1` FOREIGN KEY (`iisverenID`) REFERENCES `isveren` (`isverenID`),
  CONSTRAINT `ilan_ibfk_2` FOREIGN KEY (`imahalleID`) REFERENCES `mahalle` (`mahalleID`),
  CONSTRAINT `ilan_ibfk_3` FOREIGN KEY (`idurumID`) REFERENCES `durum` (`durumID`),
  CONSTRAINT `ilan_ibfk_4` FOREIGN KEY (`icalismaturID`) REFERENCES `calismaturu` (`calismaID`),
  CONSTRAINT `ilan_ibfk_5` FOREIGN KEY (`iyanhakID`) REFERENCES `yanhaklar` (`yanhakID`),
  CONSTRAINT `ilan_ibfk_6` FOREIGN KEY (`isiralamaID`) REFERENCES `siralama` (`siralamaID`),
  CONSTRAINT `ilan_ibfk_7` FOREIGN KEY (`isektorID`) REFERENCES `sektor` (`sektorID`)
) ENGINE=InnoDB AUTO_INCREMENT=75 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ilce` (
  `ilceID` int(5) NOT NULL AUTO_INCREMENT,
  `ilID` int(10) DEFAULT NULL,
  `ilceisim` varchar(30) DEFAULT NULL,
  PRIMARY KEY (`ilceID`),
  KEY `ilID` (`ilID`),
  CONSTRAINT `ilce_ibfk_1` FOREIGN KEY (`ilID`) REFERENCES `il` (`ilID`)
) ENGINE=InnoDB AUTO_INCREMENT=959 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `isarayan` (
  `isarayanID` int(11) NOT NULL AUTO_INCREMENT,
  `akullaniciID` int(11) DEFAULT NULL,
  `adsoyad` varchar(50) DEFAULT NULL,
  `dogumyili` int(4) DEFAULT NULL,
  `cinsiyet` char(1) DEFAULT NULL,
  `mahalleID` int(10) DEFAULT NULL,
  `tam_adres` varchar(255) DEFAULT NULL,
  `hakkimda` text DEFAULT NULL,
  `egitim` varchar(100) DEFAULT NULL,
  `ehliyet` varchar(50) DEFAULT NULL,
  `askerlik` varchar(50) DEFAULT NULL,
  `is_tecrubesi` text DEFAULT NULL,
  PRIMARY KEY (`isarayanID`),
  KEY `akullaniciID` (`akullaniciID`),
  CONSTRAINT `isarayan_ibfk_1` FOREIGN KEY (`akullaniciID`) REFERENCES `kullanici` (`kullaniciID`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `isveren` (
  `isverenID` int(11) NOT NULL AUTO_INCREMENT,
  `ikullaniciID` int(11) DEFAULT NULL,
  `firmaadi` varchar(100) DEFAULT NULL,
  `vergino` varchar(20) DEFAULT NULL,
  `mahalleID` int(10) DEFAULT NULL,
  `tam_adres` varchar(255) DEFAULT NULL,
  `hakkimda` text DEFAULT NULL,
  PRIMARY KEY (`isverenID`),
  KEY `ikullaniciID` (`ikullaniciID`),
  CONSTRAINT `isveren_ibfk_1` FOREIGN KEY (`ikullaniciID`) REFERENCES `kullanici` (`kullaniciID`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `kaydedilenler` (
  `kayitID` int(11) NOT NULL AUTO_INCREMENT,
  `kullaniciID` int(11) DEFAULT NULL,
  `ilanID` int(11) DEFAULT NULL,
  `tarih` date DEFAULT NULL,
  PRIMARY KEY (`kayitID`)
) ENGINE=MyISAM AUTO_INCREMENT=413 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_turkish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `kullanici` (
  `kullaniciID` int(11) NOT NULL AUTO_INCREMENT,
  `telno` varchar(15) DEFAULT NULL,
  `email` varchar(50) DEFAULT NULL,
  `sifre` varchar(255) DEFAULT NULL,
  `krolID` int(5) DEFAULT NULL,
  `kayittarihi` date DEFAULT NULL,
  `fotograf` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`kullaniciID`),
  KEY `krolID` (`krolID`),
  CONSTRAINT `kullanici_ibfk_1` FOREIGN KEY (`krolID`) REFERENCES `rol` (`rolID`)
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `mahalle` (
  `mahalleID` int(10) NOT NULL AUTO_INCREMENT,
  `milceID` int(10) DEFAULT NULL,
  `mahalleisim` varchar(30) DEFAULT NULL,
  PRIMARY KEY (`mahalleID`),
  KEY `milceID` (`milceID`),
  CONSTRAINT `mahalle_ibfk_1` FOREIGN KEY (`milceID`) REFERENCES `ilce` (`ilceID`)
) ENGINE=InnoDB AUTO_INCREMENT=11612 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `mesaj` (
  `mesajID` int(11) NOT NULL AUTO_INCREMENT,
  `gonderenID` int(11) DEFAULT NULL,
  `aliciID` int(11) DEFAULT NULL,
  `milanID` int(11) DEFAULT NULL,
  `mesajmetni` varchar(255) DEFAULT NULL,
  `okundu` tinyint(1) DEFAULT NULL,
  `tarih` datetime NOT NULL,
  PRIMARY KEY (`mesajID`),
  KEY `gonderenID` (`gonderenID`),
  KEY `aliciID` (`aliciID`),
  KEY `milanID` (`milanID`),
  CONSTRAINT `mesaj_ibfk_1` FOREIGN KEY (`gonderenID`) REFERENCES `kullanici` (`kullaniciID`),
  CONSTRAINT `mesaj_ibfk_2` FOREIGN KEY (`aliciID`) REFERENCES `kullanici` (`kullaniciID`),
  CONSTRAINT `mesaj_ibfk_3` FOREIGN KEY (`milanID`) REFERENCES `ilan` (`ilanID`)
) ENGINE=InnoDB AUTO_INCREMENT=178 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `rol` (
  `rolID` int(5) NOT NULL AUTO_INCREMENT,
  `rolisim` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`rolID`)
) ENGINE=InnoDB AUTO_INCREMENT=22 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `sektor` (
  `sektorID` int(5) NOT NULL AUTO_INCREMENT,
  `sektorad` varchar(30) DEFAULT NULL,
  PRIMARY KEY (`sektorID`)
) ENGINE=InnoDB AUTO_INCREMENT=37 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `sikayet` (
  `sikayetID` int(11) NOT NULL AUTO_INCREMENT,
  `ilanID` int(11) NOT NULL,
  `kullaniciID` int(11) DEFAULT NULL,
  `neden` text NOT NULL,
  `durum` tinyint(4) NOT NULL DEFAULT 0 COMMENT '0: Bekliyor, 1: ─░ncelendi',
  `tarih` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`sikayetID`),
  KEY `ilanID` (`ilanID`),
  KEY `kullaniciID` (`kullaniciID`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `siralama` (
  `siralamaID` int(5) NOT NULL AUTO_INCREMENT,
  `siralama` varchar(30) DEFAULT NULL,
  PRIMARY KEY (`siralamaID`)
) ENGINE=InnoDB AUTO_INCREMENT=22 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `yanhaklar` (
  `yanhakID` int(5) NOT NULL AUTO_INCREMENT,
  `yanhak` varchar(30) DEFAULT NULL,
  PRIMARY KEY (`yanhakID`)
) ENGINE=InnoDB AUTO_INCREMENT=33 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
